<header>
    <main>
    <footer class="page-footer grey darken-3" style="padding-top: 20px;">
        <div class="whitespace"> 
             <div class="container">
            <div class="row">
              <div class="col l6 s12">
                 <a href="#!" style="font-size:2.5rem; color:white"><i style="font-size:2.5rem;"class="fas fa-people-carry">&nbsp;</i><span style="font-size:4rem;" class="letter">M</span>agic Meal</a>
                <p class="grey-text text-lighten-4">Don't waste food ,someone is sleeping with Empty stomach </p>
              </div>
              <div class="col l4 offset-l2 s12 foot">
                
                <ul>
                  <li><h5 class="white-text">ABOUT US</h5></li>
                    <li><a class="grey-text text-lighten-3" href="/aboutus">WHO ARE WE</a></li>                
                <li><a class="grey-text text-lighten-3" href="#">MISSIONS</a></li>
                <li><a class="grey-text text-lighten-3" href="#">CONTACT US</a></li>
                  
                </ul>
                <ul class="socials">
                  <li>
                    <h5>SOCIALS</h5>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-tumblr"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2021 MagicMeal
             </div>  
              </div>
            <div>
              
          </div>
        </div>
         
        </footer>
    </main>
</header>