
<nav class="grey darken-3">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo left " style="padding-left: 6rem;" ><i style="font-size:2.5rem;"class="fas fa-people-carry">&nbsp;</i><span style="font-size:4rem;" class="letter">M</span>agic Meal</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/stories">Public Stories</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/bookings">Bookings</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a class="dropdown-button btn" data-activates="mydropdown">Profile</a></li>
      </ul>
    </div>
  </nav>

  
  