<h3> <i class="fas fa-people-carry">&nbsp;</i><span class="letter">M</span>agic Meal</h3>
<div class="section">
  <p class="lead">You have two hands one to <span class="letter" style="font-size: 1.9rem;">help yourself</span><br> ,the second to <span class="letter" style="font-size: 1.9rem;">help others...</span></p>
  
</div>
<div class="divider">

</div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-1"> <i class="fab fa-google left"></i>Log in With Google</a>
</div>
