<h3>Add a Post</h3>
<div class="row">
    <form action="/stories" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="fooditem" name="fooditem">
                <label for="fooditem">Food Item</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="address" name="address">
                <label for="address">Address</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="location" name="location">
                <label for="location">Location</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Food Description:<p style="color: grey; font-size:15px;"><span style="color: red;">*</span>Please mention Quantity&Date of preparation</p></h5>
                <textarea id="fooddesc" name="fooddesc"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>