<h3>Book Food</h3>
<div class="row">
    <form action="/bookingfood" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="receivername" name="receivername">
                <label for="receivername">Receiver name</label>
            </div>
        </div>

        
        <div class="row">
            <div class="input-field">
                <input type="text" id="phonenum" name="phonenum">
                <label for="phonenum">Phone Number</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="quantityrequired" name="quantityrequired">
                <label for="quantityrequired">Quantity Required</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="pickuptime" name="pickuptime">
                <label for="pickuptime">Pick up time</label>
            </div>
        </div>
        

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>